#black_colord_box {
  background-color: #000000;
}
#white_colord_box {
  background-color: #ffffff;
}
#red_colord_box {
  background-color: #ff3300;
}

button.zoom-button,
button.zoom-button:active,
button.zoom-button:hover {
  border: none;
  box-shadow: none;
}

button.map-button {
  background-color: rgba(248, 255, 200, 0.5); /* F8FFC8 with 50% opacity */
  color: black; /* or any text/icon color you prefer */
  border: none;
  box-shadow: none;
}

/* Zoom/Center info label at bottom-left */
.map_info_label {
  color: rgba(255, 51, 0, 0.5); /* 0.5 = 50% opacity */
  font-size: 24px;
  font-weight: bold;
}

/* ******************************************************************************** */
.popup-info-label {
    font-size: 18px;
    color: rgb(255, 255, 255);
}
#popup-info-box {
    background-color: rgba(0, 0, 0, 0.8); /* black, 50% transparent */
    border-radius: 8px;                     /* optional, rounded corners */
    padding: 8px;                           /* optional, inner padding */
}
/* ******************************************************************************** */