#black_colord_box {
  background-color: #000000;
}
#white_colord_box {
  background-color: #ffffff;
}
#red_colord_box {
  background-color: #ff3300;
}

button.zoom-button,
button.zoom-button:active,
button.zoom-button:hover {
  border: none;
  box-shadow: none;
}

button.map-button {
  background-color: rgba(248, 255, 200, 0.5); /* F8FFC8 with 50% opacity */
  color: black; /* or any text/icon color you prefer */
  border: none;
  box-shadow: none;
}

/* Zoom/Center info label at bottom-left */
.map-info-label {
  color: rgba(255, 51, 0, 0.5); /* 0.5 = 50% opacity */
  font-size: 24px;
  font-weight: bold;
}